.item-card {
  margin: 1.5rem 0;
  padding-bottom: 1rem;
  border-bottom: 4px solid var(--odin-black);
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.shop-name {
  font-size: 0.7rem;
  background: var(--odin-black);
  color: var(--odin-bg);
  padding: 2px 6px;
  font-weight: 800;
}

.item-details h2 {
  font-size: 2rem;
  font-weight: 900;
  margin: 0.5rem 0;
}

.item-details p {
  font-size: 0.8rem;
  font-weight: 700;
}

.reserve-btn {
  background: var(--odin-black);
  color: var(--odin-bg);
  border: none;
  padding: 1rem;
  font-weight: 900;
  text-align: center;
  cursor: pointer;
  min-width: 100px;
}