.ticket-card {
  background: white;
  border: 4px solid #000;
  padding: 1.5rem;
  max-width: 300px;
  margin: 0 auto;
  box-shadow: 10px 10px 0px #000;
}

.ticket-header {
  border-bottom: 2px dashed #000;
  padding-bottom: 0.5rem;
  margin-bottom: 1rem;
}

.system-status {
  font-family: monospace;
  font-weight: 800;
  font-size: 0.7rem;
}

.qr-wrapper {
  display: flex;
  justify-content: center;
  border: 2px solid #000;
  padding: 10px;
  margin-bottom: 1rem;
}

.ticket-info {
  font-family: 'Courier New', Courier, monospace;
}

.info-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.5rem;
  font-size: 0.8rem;
}

.info-label {
  color: #666;
  font-weight: 900;

}

.info-value {
  font-weight: 900;
  text-transform: uppercase;
}

.price-row {
  border-top: 2px solid #000;
  padding-top: 0.5rem;
  margin-top: 0.5rem;
}

.ticket-footer {
  margin-top: 1rem;
  background: #000;
  color: #fff;
  font-size: 0.6rem;
  padding: 0.5rem;
  text-align: center;
  font-weight: bold;
}